<div class="container">
  <div class="full-view"></div>
  <div class="preview-list">
      <ul>
          <li>
              <input type="radio" id="tab-1" name="gallery-group">
              <label for="tab-1">
                  <div class="tab">
                      <img
                          src="https://images.pexels.com/photos/1559117/pexels-photo-1559117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
              </label>
              <div class="content">
                  <img
                      src="https://images.pexels.com/photos/1559117/pexels-photo-1559117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
              </div>
          </li>
          <li>
              <input type="radio" id="tab-2" name="gallery-group">
              <label for="tab-2">
                  <div class="tab">
                      <img
                          src="https://images.pexels.com/photos/688660/pexels-photo-688660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
              </label>
              <div class="content">
                  <img
                      src="https://images.pexels.com/photos/688660/pexels-photo-688660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
              </div>
          </li>
          <li>
              <input type="radio" id="tab-3" name="gallery-group">
              <label for="tab-3">
                  <div class="tab">
                      <img
                          src="https://images.pexels.com/photos/730256/pexels-photo-730256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
              </label>
              <div class="content">
                  <img
                      src="https://images.pexels.com/photos/730256/pexels-photo-730256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
              </div>
          </li>
          <li>
              <input type="radio" id="tab-4" name="gallery-group" checked>
              <label for="tab-4">
                  <div class="tab">
                      <img
                          src="https://images.pexels.com/photos/22427/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
              </label>
              <div class="content">
                  <img src="https://images.pexels.com/photos/22427/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
              </div>
          </li>
          <li>
              <input type="radio" id="tab-5" name="gallery-group">
              <label for="tab-5">
                  <div class="tab">
                      <img
                          src="https://images.pexels.com/photos/789380/pexels-photo-789380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
              </label>
              <div class="content">
                      <img src="https://images.pexels.com/photos/789380/pexels-photo-789380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
          </li>
          <li>
              <input type="radio" id="tab-6" name="gallery-group">
              <label for="tab-6">
                  <div class="tab">
                      <img
                          src="https://images.pexels.com/photos/355411/pexels-photo-355411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                  </div>
              </label>
              <div class="content">
                      <img src="https://images.pexels.com/photos/355411/pexels-photo-355411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                  </div>
          </li>
          <li>
              <input type="radio" id="tab-7" name="gallery-group">
              <label for="tab-7">
                  <div class="tab">
                      <img
                          src="https://images.pexels.com/photos/1424246/pexels-photo-1424246.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
              </label>
              <div class="content">
                      <img src="https://images.pexels.com/photos/1424246/pexels-photo-1424246.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                  </div>
          </li>
      </ul>
  </div>
</div>

<div class="form-category">
  <div class="form-title">
    <span class="title">Bán chạy nhất</span>
    <span class="show-more">Xem thêm</span>
  </div>
  <div class="form-list-book">
    <div class="book">
      <div class="book-image">
        <img src="assets/images\Colorful_vi_cover.jpg" alt="">
      </div>
      <div class="info-book">
        <div class="book-name">Colorful</div>
        <div class="author">Eto Mori</div>
        <div class="price">
          <span class="cost">100,000</span>
          <span class="sale">50,000</span>
        </div>
      </div>
    </div>
    <div class="book">
      <div class="book-image">
        <img src="assets/images\Colorful_vi_cover.jpg" alt="">
      </div>
      <div class="info-book">
        <div class="book-name">Colorful</div>
        <div class="author">Eto Mori</div>
        <div class="price">
          <span class="cost">100,000</span>
          <span class="sale">50,000</span>
        </div>
      </div>
    </div>
    <div class="book">
      <div class="book-image">
        <img src="assets/images\Colorful_vi_cover.jpg" alt="">
      </div>
      <div class="info-book">
        <div class="book-name">Colorful</div>
        <div class="author">Eto Mori</div>
        <div class="price">
          <span class="cost">100,000</span>
          <span class="sale">50,000</span>
        </div>
      </div>
    </div>
    <div class="book">
      <div class="book-image">
        <img src="assets/images\Colorful_vi_cover.jpg" alt="">
      </div>
      <div class="info-book">
        <div class="book-name">Colorful</div>
        <div class="author">Eto Mori</div>
        <div class="price">
          <span class="cost">100,000</span>
          <span class="sale">50,000</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-dot">
    <span class="dot dot-active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>
<div class="form-sign-in">
  <div class="sign-in-info">
    <span class="title">Bạn có biết chúng tôi?</span>
    <span class="description">Chúng tôi quan tâm đến sách và mục đích của chúng tôi là cho bạn thấy cuốn sách có thể quản lý cuộc sống của bạn hoặc đánh lạc hướng bạn khỏi thế giới thực để sang một thế giới tốt đẹp hơn. Minh Tuệ làm việc với các nhà xuất bản phổ biến chỉ để làm hài lòng bạn. Nếu bạn quan tâm đến sách, bạn nên đăng ký nhận bản tin của chúng tôi.</span>
    <input type="text" placeholder="Họ và tên">
    <input type="text" placeholder="Email">
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.273547184249!2d105.84193037515277!3d21.021737980625847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab91bac271b3%3A0x8cbd83460242ac57!2zVHJ1bmcgdMOibSBI4buZaSBjaOG7oyBUcmnhu4NuIGzDo20gcXXhu5FjIHThur8gSS5DLkUgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1713459019309!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
